<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "logo.png" %>
  </div>

  <div id="content">
    <h1>This is aura home page</h1>
    <p>Welcome we do things for people</p>
    <p>This site was build in 38 minutes</p>
    <p>There are posts</p>
    <p>The routing of this site is out of order and built like a blog but it should be built
    more like a friendly 1 pager</p>
  </div>

</div>